<h1>About Deck Store</h1>
<h3>Deck Store started as a...</h3>
<p>Deck Store started as a class project for my coding school program but it further developed into a fun pet project of mine. </p>
<p>Further implementation I would like to have is to be able to create the decks from clicking on pictures. I would like you to be able to only have to type in the category and name of the deck and I would like also to not need to go find the pictures of the cards. I would save a lot of time for the user and it would keep styling pretty consistent within all the decks. It would also make the site easier and more enjoyable to use. </p>
