<div class="container">
  <h3>{{deckToDisplay?.category}}</h3>
  <h4>{{deckToDisplay?.name}}</h4>

  <h3>{{deckToDisplay?.cardone}}</h3>
  <img src={{deckToDisplay?.imageone}}>

  <h3>{{deckToDisplay?.cardtwo}}</h3>
  <img src={{deckToDisplay?.imagetwo}}>

  <h3>{{deckToDisplay?.cardthree}}</h3>
  <img src={{deckToDisplay?.imagethree}}>

  <h3>{{deckToDisplay?.cardfour}}</h3>
  <img src={{deckToDisplay?.imagefour}}>

  <h3>{{deckToDisplay?.cardfive}}</h3>
  <img src={{deckToDisplay?.imagefive}}>

  <h3>{{deckToDisplay?.cardsix}}</h3>
  <img src={{deckToDisplay?.imagesix}}>

  <h3>{{deckToDisplay?.cardseven}}</h3>
  <img src={{deckToDisplay?.imageseven}}>

  <h3>{{deckToDisplay?.cardeight}}</h3>
  <img src={{deckToDisplay?.imageeight}}>
</div>
