<div class="container">
  <h3>{{deckToDisplay?.category}}</h3>
  <h4>{{deckToDisplay?.name}}</h4>
<div class="section">
    <div class="card1">
      <h3>{{deckToDisplay?.cardone}}</h3>
      <img src={{deckToDisplay?.imageone}}>
    </div>

    <div class="card2">
      <h3>{{deckToDisplay?.cardtwo}}</h3>
      <img src={{deckToDisplay?.imagetwo}}>
    </div>

    <div class="card3">
      <h3>{{deckToDisplay?.cardthree}}</h3>
      <img src={{deckToDisplay?.imagethree}}>
    </div>

    <div class="card4">
      <h3>{{deckToDisplay?.cardfour}}</h3>
      <img src={{deckToDisplay?.imagefour}}>
    </div>

    <div class="card5">
      <h3>{{deckToDisplay?.cardfive}}</h3>
      <img src={{deckToDisplay?.imagefive}}>
    </div>

    <div class="card6">
      <h3>{{deckToDisplay?.cardsix}}</h3>
      <img src={{deckToDisplay?.imagesix}}>
    </div>

    <div class="card7">
      <h3>{{deckToDisplay?.cardseven}}</h3>
      <img src={{deckToDisplay?.imageseven}}>
    </div>

    <div class="card8">
      <h3>{{deckToDisplay?.cardeight}}</h3>
      <img src={{deckToDisplay?.imageeight}}>
    </div>
  </div>
</div>
