<h4>Edit Deck</h4>

<label>New Deck Category:</label>
<input [(ngModel)]="selectedDeck.category">
<br>

<label>New Name:</label>
<input [(ngModel)]="selectedDeck.name">
<br>

<label>New Card One:</label>
<input [(ngModel)]="selectedDeck.cardone">
<br>
<label>New Image One:</label>
<input [(ngModel)]="selectedDeck.imageone">
<br>

<label>New Card Two:</label>
<input [(ngModel)]="selectedDeck.cardtwo">
<br>
<label>New Image Two:</label>
<input [(ngModel)]="selectedDeck.imagetwo">
<br>

<label>New Card Three:</label>
<input [(ngModel)]="selectedDeck.cardthree">
<br>
<label>New Image Three:</label>
<input [(ngModel)]="selectedDeck.imagethree">
<br>

<label>New Card Four:</label>
<input [(ngModel)]="selectedDeck.cardfour">
<br>
<label>New Image Four:</label>
<input [(ngModel)]="selectedDeck.imagefour">
<br>

<label>New Card Five:</label>
<input [(ngModel)]="selectedDeck.cardfive">
<br>
<label>New Image Five:</label>
<input [(ngModel)]="selectedDeck.imagefive">
<br>

<label>New Card Six:</label>
<input [(ngModel)]="selectedDeck.cardsix">
<br>
<label>New Image Six:</label>
<input [(ngModel)]="selectedDeck.imagesix">
<br>

<label>New Card Seven:</label>
<input [(ngModel)]="selectedDeck.cardseven">
<br>
<label>New Image Seven:</label>
<input [(ngModel)]="selectedDeck.imageseven">
<br>

<label>New Card Eight:</label>
<input [(ngModel)]="selectedDeck.cardeight">
<br>
<label>New Image Eight:</label>
<input [(ngModel)]="selectedDeck.imageeight">
<br>

<button (click)="beginUpdatingDeck(selectedDeck)">Update Deck</button>
<hr>
<button (click)="beginDeletingDeck(selectedDeck)">Delete</button>
